@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins";

@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "fonts/flaticon/flaticon.css";
@import "range-slider";
@import "listings";
@import "register-barista";
@import "single";
@import "create-jobs";
@import "single-job";
@import "job-listings";

form textarea {
    background: #fff;
}

//.single-barista,
.page-template-page-create-jobs,
    //.page-template-page-listings,
.page-template-page-register-barista {
    #main {
        background-image: url(../../../images/right-main-shape.png);
        background-repeat: no-repeat;
        background-position: right 400px;
        background-size: auto;
        @include media-breakpoint-down(md) {
            background-position: right center;
        }
    }
}

.um-account-main {
    .um-account-tab-profile_barista {
        //> * {
        //    @include media-breakpoint-up(sm) {
        //        display: none;
        //    }
        //}

        .um-col-alt-b {
            display: none;
        }
    }
}

.single-job header#site-header,
.page-template-page-job-listings header#site-header,
.um-page-loggedin header#site-header,
.um-page-loggedout header#site-header,
.single-barista header#site-header,
.page-template-page-create-jobs header#site-header,
.page-template-page-listings header#site-header,
.page-template-page-register-barista header#site-header {
    position: relative;
}
